name: test_project
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test_project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements-dev.txt
      - name: flake8 check
        run: flake8 app/
      - name: Test with pytest
        env:
          APP_PROJECT_NAME: 'AI Software Engineering'
          AUDIO_RATE: 16000
          MAX_FILE_SIZE: 1*1024*1024
        run: pytest
